@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cherry+Bomb+One&family=Fustat:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  width: 1440px;
  max-width: 100%;
  height: 68px;
  background: #fffffc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8%;
  position: sticky;
  @media screen and (max-width: 767px) {
    background: none;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: none;
  }

  span {
    width: 157px;
    height: 24px;
    gap: 4px;
    font-family: Barlow;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #25292c;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      color: #fffffc;
    }
  }
  .navList {
    width: 467px;
    height: 19px;
    gap: 48px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      display: none;
    }

    a {
      font-family: Barlow;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 2%;
      color: #25292c;
      text-decoration: none;
    }
  }
  .Btn-register {
    width: 94px;
    height: 40px;
    gap: 10px;
    border-radius: 6px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    background-color: #fffffc;
    border: 1px solid #1576d6;
    font-family: Barlow;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #1576d6;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .Btn-sign {
    width: 82px;
    height: 40px;
    gap: 10px;
    border-radius: 6px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    background: #1576d6;
    font-family: Barlow;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #fffffc;
    border: none;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .menu-btn {
    display: none;
    i {
      height: 20px;
    }

    @media screen and (max-width: 767px) {
      display: block;
      color: #f2f2f2;
    }
  }
}

.heroSection {
  background: url(./Images/heroImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 1240px;
  max-width: 100%;
  min-height: 500px;
  height: auto;
  gap: 20px;
  position: relative;
  .overlay {
    background-color: #0000004d;
    width: 1240px;
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @media screen and (max-width: 767px) {
      padding: 0px;
      z-index: 11;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      gap: 1rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
    }
  }
  @media screen and (max-width: 767px) {
    background-size: contain;
    background-position: top left;
  }

  h1 {
    font-family: Barlow;
    font-weight: 700;
    font-size: clamp(22px, 2.25vw, 32px);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
    @media screen and (max-width: 767px) {
      text-align: left;
      z-index: 12;
    }
  }

  p {
    font-family: Barlow;
    font-weight: 400;
    font-size: clamp(16px, 1.9vw, 20px);
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    color: #ffffff;
    @media screen and (max-width: 767px) {
      text-align: left;
      z-index: 12;
    }
  }
}
.QuickBarSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1030px;
  max-width: 100%;
  height: 64px;
  top: 548px;
  left: 120px;
  border-radius: 8px;
  background: #fffffc;
  box-shadow: 0px 4px 37px 0px #00000026;
  position: absolute;

  @media screen and (max-width: 767px) {
    position: static;
    margin: 24px 16px;
    height: auto;
    min-height: 162px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  div {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    gap: 10px;
    background: #f2f2f2;

    img {
      width: 20;
      height: 20;
    }
    input {
      font-family: Barlow;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 2%;
      color: #25292c;
      border: none;
      background-color: #f2f2f2;
      width: 105px;
    }
  }

  .location {
    width: 260px;
    height: 43px;
    top: 558px;
    left: 217px;
    @media screen and (max-width: 767px) {
      width: calc((100% - 1rem) / 2);
    }
  }
  .calendar1 {
    width: 170px;
    height: 43px;
    top: 558px;
    left: 489px;
    @media screen and (max-width: 767px) {
      width: calc((100% - 1rem) / 2);
    }
  }

  .calendar2 {
    width: 170px;
    height: 43;
    top: 558px;
    left: 671px;
    @media screen and (max-width: 767px) {
      width: calc((100% - 1rem) / 2);
    }
  }

  .guest {
    width: 210px;
    height: 43px;
    top: 558px;
    left: 853px;
    @media screen and (max-width: 767px) {
      width: calc((100% - 1rem) / 2);
    }
  }
  button {
    width: 148px;
    height: 44px;
    top: 558px;
    left: 1075px;
    border-radius: 6px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    gap: 10px;
    background: #1576d6;
    font-family: Barlow;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    color: #fffffc;
    border: none;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.dangerSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: 1240px;
  max-width: 100%;
  height: 72px;
  min-height: auto;
  border-radius: 8px;
  background: #f4c123;
  margin-top: 82px;
  padding: 2rem;
  gap: 19px;
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }
  img {
    width: 26.66289710998535px;
    height: 25.10333251953125px;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      text-align: left;
    }

    p {
      font-family: Barlow;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 2%;
      color: #333333;
    }

    span {
      font-family: Barlow;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 2%;
      color: #1576d6;
    }
  }
}

.aboutSection {
  max-width: 1240px;
  width: 100%;
  min-height: 296px;
  height: auto;
  top: 784px;
  left: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
   @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
   }

  h2 {
    font-family: Barlow;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #25292c;
    margin-bottom: 43px;
  }
  .container {
    display: flex;
    width: 100%;
    margin-top: 43px;
    @media screen and (max-width:767px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap: 7rem;
        padding: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 2rem;
      


      img {
        width: 60px;
        height: 60px;
        position: absolute;
        top:-60px; 
        left: 40px;
        @media screen and (max-width:767px){
            left: 50%;
            transform: translateX(-50%);

        }

      }
      h3 {
        font-family: Barlow;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #05073c;
        margin-top: 27px;
      }

      p {
        font-family: Barlow;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #25292c;
        margin-top: 14px;
      }

       @media screen and (max-width:767px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
        }
    }
  }
}
